#services {
      padding: 40px 0;
}

.sub-title.centered {
      margin-bottom: 20px;
      color: #fff;
      text-align: center;
}

.section-desc.centered {
      text-align: center;
      color: #ababab;
      max-width: 700px;
      margin: 0 auto 50px;
      font-size: 16px;
      line-height: 1.6;
}

.services-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 40px;
      margin-top: 50px;
}

.services-list div {
      background: rgba(10, 25, 47, 0.2);
      padding: 30px 20px;
      border-radius: 20px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      text-align: center;
      transition: all 0.3s ease;
}

.services-list div i {
      font-size: 50px;
      margin-bottom: 20px;
      color: #fff;
      transition: transform 0.3s ease;
}

.services-list div h2 {
      font-size: 26px;
      font-weight: 600;
      margin-bottom: 15px;
      color: #fff;
}

.services-list div p {
      font-size: 14px;
      color: #d1d1d1;
      line-height: 1.6;
      margin-bottom: 20px;
}

.services-list div a {
      text-decoration: none;
      color: #fff;
      font-size: 13px;
      margin-top: 10px;
      display: inline-block;
      transition: color 0.3s ease;
      font-weight: 500;
}

.services-list div a:hover {
      color: #ff004f;
}

.services-list div:hover {
      transform: translateY(-5px);
      border: 1.5px solid #00ffd5;
      box-shadow: 0 0 10px rgba(0, 255, 213, 0.15);
}

.services-list div:hover i {
      transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
      .services-list {
            grid-template-columns: 1fr;
      }
}